<h1 class="mt-4"><small>Angular</small> Pipes</h1>

<p>
    Digamos que pipe son funciones separadas a un componente, son funciones que te servirá en cualquier parte de la web. Con angularjs existían algo como filtros y pipe es la evolución de esto.
</p>
<hr />

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Variable</th>
                    <th scope="col">Pipe</th>
                    <th scope="col">Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{ nombre }}</td>
                    <td><strong>uppercase</strong></td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>{{ nombre }}</td>
                    <td><strong>lowercase</strong></td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>{{ nombre }}</td>
                    <td><strong>slice:3</strong></td>
                    <td>{{ nombre | slice: 3 }}</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>{{ nombre }}</td>
                    <td><strong>slice:0:4</strong></td>
                    <td>{{ nombre | slice: 0:4 }}</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>{{ arreglo }}</td>
                    <td><strong>slice:2:7</strong></td>
                    <td>{{ arreglo | slice: 2:7 }}</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>{{ PI }}</td>
                    <td><strong>number</strong></td>
                    <td>{{ PI | number }}</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>{{ PI }}</td>
                    <td><strong>number:'1.0-0'</strong></td>
                    <td>{{ PI | number: "1.0-0" }}</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>{{ PI }}</td>
                    <td><strong>number:'1.0-2'</strong></td>
                    <td>{{ PI | number: "1.0-2" }}</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>{{ PI }}</td>
                    <td><strong>number:'3.0-0'</strong></td>
                    <td>{{ PI | number: "3.0-0" }}</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>{{ PI }}</td>
                    <td><strong>number:'.0-2'</strong></td>
                    <td>{{ PI | number: ".0-2" }}</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>{{ porsentaje }}</td>
                    <td><strong>percent</strong></td>
                    <td>{{ porsentaje | percent }}</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>{{ porsentaje }}</td>
                    <td><strong>percent:'2.2-2'</strong></td>
                    <td>{{ porsentaje | percent: "2.2-2" }}</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>{{ salario }}</td>
                    <td><strong>currency</strong></td>
                    <td>{{ salario | currency }}</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>{{ salario }}</td>
                    <td><strong>currency:'EUR'</strong></td>
                    <td>{{ salario | currency: "EUR" }}</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>{{ salario }}</td>
                    <td><strong>currency: 'CAD':'symbol-narrow': '0-0'</strong></td>
                    <td>{{ salario | currency: "CAD":"symbol-narrow":".0-0" }}</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>{{ valorPromesa }}</td>
                    <td><strong>async</strong></td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>{{ fecha }}</td>
                    <td><strong>date</strong></td>
                    <td>{{ fecha | date }}</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>{{ fecha }}</td>
                    <td><strong>date:'medium'</strong></td>
                    <td>{{ fecha | date: "medium" }}</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>{{ fecha }}</td>
                    <td><strong>date:'short'</strong></td>
                    <td>{{ fecha | date: "short" }}</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>{{ fecha }}</td>
                    <td><strong>date:'MMMM-dd'</strong></td>
                    <td>{{ fecha | date: "MMMM.dd" }}</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>{{ fecha }}</td>
                    <td>
                        <strong>date: "MMMM-dd":'':'{{ idioma }}'</strong>
                        <br />
                        <button (click)="idioma = 'es'" class="mr-2 btn btn-primary">
              Español
            </button>
                        <button (click)="idioma = 'en'" class="mr-2 btn btn-secondary">
              Inglés
            </button>
                        <button (click)="idioma = 'fr'" class="mr-2 btn btn-success">
              Francés
            </button>
                    </td>
                    <td>{{ fecha | date: "MMMM-dd":"":idioma }}</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>{{ nombre2 }}</td>
                    <td><strong>pipePersonal01</strong></td>
                    <td>{{ nombre2 | pipePersonal01: false }}</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>{{ nombre }}</td>
                    <td>
                        <strong>contraseña:{{ mascara }}
                        </strong>
                        <br>
                        <button (click)="mascara = !mascara" class="btn btn-primary">Activar/Desactivar</button>
                    </td>
                    <td>{{ nombre | ocultatexto:mascara }}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h1>Slice ngFor</h1>
        <hr />
        <p>arreglo = {{ arreglo }}</p>
        <p>*ngFor="let item of arreglo | slice: 6:12"</p>
        <ul>
            <li *ngFor="let item of arreglo | slice: 6:12">{{ item }}</li>
        </ul>
        <br />
        <h1>Json - Pipes</h1>
        <hr />
        <div class="row mb-5">
            <div class="col">
                <pre>
                {{ heroe | json }}
                </pre
        >
      </div>
    </div>
  </div>
</div>

<h1>DomSeguro</h1>
<hr />
<div class="m-md-5 row">
  <div class="col">
    <iframe
      width="560"
      height="315"
      [src]="videoURL | domseguro"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>